.new_todo_button
  display: inline-flex
  align-content: center
  align-items: center
  color: var(--primary)
  border: none
  outline: none
  background: none
  font: 600 17px $font-main

.new_todo_button__icon
  background: currentColor
  border-radius: 50%
  // overflow: hidden
  // display: inline-flex
  margin-right: .5rem
  justify-content: center
  align-items: center
  &, svg
    height: 1rem
  svg
    fill: #ffffff