.todo_list
  margin: 0
  padding: 2rem
  min-height: 100vh
  display: flex
  flex-direction: column
  box-sizing: border-box
  --primary: rgb(0, 122, 255)

.todo_list__spacer
  flex: 1

.todo_list__header
  font-family: $font-main
  font-weight: 600
  font-size: 2rem
  color: var(--primary)

.todo_list__list
  margin: 0

.todo_item
  display: flex
  line-height: 2.5rem
  list-style: none
  position: relative
  margin: 0 0 0.5rem 0

.todo_item__timestamp
  margin-left: 2rem
  color: var(--primary)

.todo_item__content
  border: none
  outline: none
  font: inherit
  width: 100%
  margin-left: 2rem
  border-bottom: 1px solid #ddd
  background: none
  &:focus
    transform: translate(0, 15%)
    border-bottom: 1.5px solid #ddd

.todo_item__toggle
  position: absolute
  height: 1.5rem
  width: 1.5rem
  border: 1px solid #ccc
  border-radius: 50%
  top: 50%
  transform: translateY(-50%)
  &:focus
    outline: none

.todo_item__toggle--completed
  background: var(--primary)
  &::after
    position: absolute
    content: ''
    inset: 1px
    border: 1.5px solid #fff
    border-radius: 50%

